@media (max-width: 979px) {
  .nav-collapse.collapse {
    overflow: inherit;
  }
  .nav-collapse .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    font-weight: normal;
  }
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
  }
  .nav-collapse .nav {
    margin: 0;
  }
  .nav-collapse .nav > li > a {
    margin-bottom: 0;
  }
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  #topcontrol {
    display: none !important;
  }
  .navbar-fixed-top {
    margin: 0;
  }
  .header .main-nav .nav {
    margin-left: 0;
  }
  .header .main-nav li.nav-item {
    margin-right: 0;
  }
  .header .main-nav .nav > li {
    width: 100%;
  }
  .header .main-nav .nav .dropdown-menu {
    background: #3d4147;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 100%;
    min-width: inherit;
  }
  .header .main-nav .nav .dropdown-menu:before {
    display: none;
  }
  .header .main-nav .nav .dropdown-menu li a {
    color: #c0c3c9;
    border-bottom: none;
  }
  .header .main-nav .nav .dropdown-menu li a:hover {
    color: #fff;
  }
  .breadcrumb-button {
    float: left;
  }
  .nav-collapse {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .nav-collapse .nav {
    width: 100%;
    float: none;
  }
  .nav .open .dropdown-menu,
  .nav .in .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    font-weight: normal;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .dropdown-submenu > a:after {
    border-left-color: #eeeeee !important;
  }
  .dropdown-submenu > a:hover:after {
    border-left-color: #eeeeee !important;
  }
  #region-main table {
    max-width: 100%;
    display: block;
    overflow-x: auto;
  }
  .loginbox .loginform .form-label {
    float: none;
    width: auto;
    text-align: left;
  }
  .loginbox .loginform .form-input {
    float: none;
    width: auto;
  }
  #dockeditempanel .dockeditempanel_content {
    width: 240px;
  }
  #page #region-main .loginbox {
    padding: 5px;
  }
  #page-header h1.logo img {
    max-width: 260px;
  }
  .section .label .contentwithoutlink,
  .section .label .activityinstance {
    padding-right: 0;
  }
  .editing .section .activity .contentwithoutlink,
  .editing .section .activity .activityinstance {
    padding-right: 60px;
  }
  #page #region-main .loginbox .loginform .form-input input {
    width: 100%;
  }
  .nav-collapse.collapse {
    overflow: hidden;
  }
  #page-site-index .testimonials .item {
    margin-bottom: 30px;
  }
  .breadcrumb-nav,
  .breadcrumb-button {
    float: none;
    display: block;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .bg-slider-wrapper .flexslider .flex-caption .caption-box .btn-cta-primary {
    margin-top: 45px;
  }
  .flexslider .flex-direction-nav {
    display: block;
  }
  .testimonials .flexslider {
    margin-bottom: -50px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header .logo {
    text-align: left;
  }
  .header .logo img {
    margin: inherit;
  }
  .header .logininfo-container {
    text-align: right;
    margin-top: 8px;
  }
  .header .info-container .header-widget {
    float: right;
  }
  .header .info-container .header-widget p {
    display: inline-block;
    float: left;
  }
  .header .logininfo-container {
    float: right;
  }
  .flexslider .flex-direction-nav {
    display: block;
  }
  .bg-slider-wrapper .flexslider .flex-caption .caption-box .btn-cta-primary {
    margin-top: 45px;
  }
  #page-site-index .featured .title .lead {
    position: absolute;
    right: 0;
    top: 8px;
  }
  .testimonials .flexslider {
    margin-bottom: -70px;
  }
  .testimonials .item {
    margin-bottom: 0;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Moodle 2.6 */
  .form-item .form-label,
  .mform .fitem div.fitemtitle,
  .userprofile dl.list dt,
  .form-horizontal .control-label {
    width: 180px;
  }
  /* Moodle 2.7 */
  .form-item .form-setting,
  .form-item .form-description,
  .mform .fitem .felement,
  #page-mod-forum-search .c1,
  .mform .fdescription.required,
  .userprofile dl.list dd,
  .form-horizontal .controls {
    margin-left: 200px;
  }
}
