/* Header */
#topbar{
    background-color: [[setting:color3]];
    height: 33px;
}
.topbutton{
    background-color: [[setting:color2]];
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    float: right;
    height: 33px;
    text-align: center;
    width: 60px;
    padding-top: 6px;
    
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
.topbutton:hover{
    background-color: [[setting:color4]];
}
.topbutton a{
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px !important;
    text-decoration: none;
}
.topbutton a:hover{
    text-decoration: none;
}

#menubar{
    background: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    height: 100px;
    padding: 6px 0;    
    
    -webkit-transition: height 0.1s 0.1s ease-in;
   -moz-transition: height 0.1s 0.1s ease-in;
   -o-transition: height 0.1s 0.1s ease-in;
   -ms-transition: height 0.1s 0.1s ease-in;
   transition: height 0.1s 0.1s ease-in;
    -webkit-transition: padding 0.1s 0.1s ease-in;
   -moz-transition: padding 0.1s 0.1s ease-in;
   -o-transition: padding 0.1s 0.1s ease-in;
   -ms-transition: padding 0.1s 0.1s ease-in;
   transition: padding 0.1s 0.1s ease-in;
}

.menubar-fixed{
    height: 90px !important;
    left: 0;
    padding: 10px 0 0 0 !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    
   -webkit-transition: height 0.1s 0.1s ease-in;
   -moz-transition: height 0.1s 0.1s ease-in;
   -o-transition: height 0.1s 0.1s ease-in;
   -ms-transition: height 0.1s 0.1s ease-in;
   transition: height 0.1s 0.1s ease-in;
   -webkit-transition: padding 0.1s 0.1s ease-in;
   -moz-transition: padding 0.1s 0.1s ease-in;
   -o-transition: padding 0.1s 0.1s ease-in;
   -ms-transition: padding 0.1s 0.1s ease-in;
   transition: padding 0.1s 0.1s ease-in;
}

#sliderarea{
    margin-top: -20px;
}

/* Menu */
div#menu{
    float: right;
    margin-top: 3px;
}
div#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
div#menu>ul>li{
    float: left;
    padding: 0;
}
div#menu li.has-sub>ul{
    background: #FFFFFF;
    border-top: 4px solid [[setting:color3]] !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    height: 110px;
    display: none;
    height: auto;
    margin: -12px 0 0 16px;
    padding: 0px;
    position: absolute;
    width: 170px;
    z-index: 2000;
}
div#menu li.has-sub>ul>li{
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding: 10px;
}
div#menu li.has-sub>ul>li>a{
    color: #949494;
    font-size: 12px !important;
    text-decoration: none;
}
div#menu li.has-sub>ul>li>a:hover{
    color: [[setting:color2]];
}

div#menu li:hover ul {
    display: block;
}


div#menu>ul>li>a{
    color: [[setting:color3]];
    display: inline-block;
    font-size: 22px !important;
    font-weight: lighter;
    letter-spacing: 1px !important;
    margin: 17px 15px !important;
    outline: none;
    padding: 5px;
    position: relative;
    text-decoration: none;
    
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

div#menu>ul>li>a.active{
    color: [[setting:color2]] !important;
}
div#menu>ul>li:last-child>a{
    margin: 17px 0 17px 15px !important
}
div#menu>ul>li:last-child>a{
    margin-right: 0 !important;
}
div#menu>ul>li>a:hover,
div#menu>ul>li>a:focus {
    outline: none;
}

div#menu>ul>li>a{
    overflow: hidden;
    padding: 0 !important;
    height: 1.3em !important;
}

div#menu>a::before,
div#menu>a::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: [[setting:color2]];
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}


div#menu>a::before {
    top: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

div#menu>a::after {
    bottom: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

div#menu>a:hover,
div#menu>a:focus {
    color: [[setting:color2]];
}

div#menu>a:hover::before,
div#menu>a:focus::before,
div#menu>a:hover::after,
div#menu>a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

div#menu>a:last-child{
    margin-right: 0 !important;
}

/* Responsive Menu */
div#responsive_menu{
    background: #FFFFFF;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 10000000;

    border: 1px solid #EEEEEE;
    border-bottom: 0;
}
div#responsive_menu>.rp-menu{
    margin: 0;
}
div#responsive_menu li a{
    background: #fff;
    color: [[setting:color3]];
    text-decoration: none;
    margin: 0;
    padding: 10px;
    border: 0;
    display: block;
    text-transform: capitalize;
    border-bottom: 1px solid #eee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
div#responsive_menu li a:hover{
    color: [[setting:color2]];
}
div#responsive_menu li ul.has-submenu {
    margin: 0;
    padding: 0;
    border: 0;
}

div#responsive_menu li ul.has-submenu li a {
    margin: 0;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #eee;
    padding-left: 40px;
}

div#responsive_menu ul{
    list-style: none;
    font-size: 18px;
    margin-left: 0;
    width: 100%;
}

div#responsive_menu ul a{
    text-decoration: none;
}

div#responsive_menu_button{
    background: url([[pix:theme|responsive_menu|]]);
    display: none;
    height: 30px;
    width: 30px;
    float: right;
    cursor: pointer;
    margin-top: 20px;
}

/* Footer */
#footer{
    background: [[setting:color4]];
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    bottom: 0;
    min-height: 265px;
    height: auto;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

#footer ul{
    margin: 0;
}

#footer p.title{
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
    padding-bottom:3px;
    text-transform: uppercase;
}

#footerend{
    background: #020202;
    bottom: 0;
    color: #FFFFFF;
    height: 35px;
    margin: 0;
    position: relative;
    width: 100%;
}

#footerendleft{
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    color: #F1F2F2;
    font-size: 14px;
    padding-top: 10px;
}

#footerendright{
    float: right;
}

/* Footer Ararazu Modules */

/* About us */
.footermod{
    color: #FFFFFF;
}

.footermod_aboutus p{
    text-align: justify;
    width: 100%;
}

/* Image */
.footermod_image div.image{
    height: 150px;
    width: 100%;
}
.footermod_image div.image img{
    height: 100%;
    width: 100%;
}

/* Links */
.footermod_links ul.links{
    list-style: none;
    width: 100%;
}
.footermod_links ul.links li{
    border-bottom: 1px solid #FFFFFF;
    padding: 6px 0;
}
.footermod_links ul.links li:first-child{
    padding-top: 0;
}
.footermod_links ul.links li:last-child{
    border-bottom: 0;
}

.footermod_links ul.links li a{
    color: #FFFFFF;
    text-decoration: none;
}

/* Contact Info */
.footermod_contactinfo ul.contactinfos{
    list-style: none;
    width: 90%;
}
.footermod_contactinfo ul.contactinfos li{
    padding: 2px 0;
}
.footermod_contactinfo ul.contactinfos li:first-child{
    padding-top: 0;
}

p#topText{
    color: #FFFFFF;
    float: right;
    margin: 8px 20px 0 0;
}
p#topText>a{
    color: #FFFFFF;
    text-decoration: none;
}
p#topText>a:hover{
    color: [[setting:color1]];
}

.no-marginleft {
    margin-left: 0 !important;
}

.navbutton div.singlebutton form input[type="submit"], fieldset.invisiblefieldset input[type="submit"]{
    margin-right: 0;
}

a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
}
a.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}


a.adminlink:link {
   text-decoration:none;   
}
a.adminlink:visited {
   text-decoration:none;   
}

img.icon

{
width:90px;
padding-right:6px;
vertical-align:text-bottom;
}

[[setting:customCSS]]