*{
margin:0;
padding:0;
}
.heading{
margin: 0 auto;
}
.rectangle{
width:30px;
height:70px;
text-align:center;
padding-top:10px;
border:1px solid black;
}
.circle{
width:50px;
height:36px;
border-radius:50%;
border:1px solid #111;
text-align:center;
padding-top:10px;
padding-bottom:0px;
}
.dot{
background:#000;
border-radius:50%;
width:5px;
height:5px;
margin-left:10px;
margin-bottom:10px;
}
.rectangle.one .dot,.rectangle.two .dot{
margin-top:5px;
}
.rectangle.one{
position:absolute;
top:40px;
left:124px;
}
.rectangle.two{
position:absolute;
top:40px;
left:407px;
}
.rectangle.three{
position:absolute;
top:320px;
left:124px;
}
.rectangle.four{
position:absolute;
top:320px;
left:407px;

}
.circle.one{
position:absolute;
top:200px;
left:68px;
}
.circle.two{
position:absolute;
top:200px;
left:250px;
}
.circle.three{
position:absolute;
top:200px;
left:470px;
}
.arrow img{
height:45px;
width:150px;
}
.container{
margin:0 auto;
position:relative;
top:30px;
width:90%;

border:5px solid black; 
outline: 5px solid black;
box-shadow:0 0 0 10px hsl(0, 0%, 80%),0 0 0 15px hsl(0, 0%, 90%);
height:500px;
}

.arrow.one{

position:absolute;
top:118px;
left:38px;
-ms-transform: rotate(109deg); /* IE 9 */
  -webkit-transform: rotate(109deg); /* Chrome, Safari, Opera */
    transform: rotate(109deg);
-moz-transform: rotate(109deg);/*mozilla*/
	}
.arrow.two{

position:absolute;
top:115px;
left:380px;
-ms-transform: rotate	(61deg); /* IE 9 */
    -webkit-transform: rotate(61deg); /* Chrome, Safari, Opera */
    transform: rotate(61deg);
-moz-transform: rotate(61deg);/*mozilla*/
	}
.arrow.three{

position:absolute;
top:267px;
left:122px;
-ms-transform: rotate(321deg); /* IE 9 */
    -webkit-transform: rotate(321deg); /* Chrome, Safari, Opera */
    transform: rotate(321deg);
-moz-transform: rotate(321deg);/*mozilla*/
	}
.arrow.four img{
height: 45px;
  width: 115px;
}
.arrow.four{

position:absolute;
top:265px;
left:60px;
-ms-transform: rotate(249deg); /* IE 9 */
    -webkit-transform: rotate(249deg); /* Chrome, Safari, Opera */
    transform: rotate(249deg);
-moz-transform: rotate(249deg);/*mozilla*/
	}
.arrow.five{

position:absolute;
top:125px;
left:144px;
-ms-transform: rotate(227deg); /* IE 9 */
    -webkit-transform: rotate(227deg); /* Chrome, Safari, Opera */
    transform: rotate(227deg);
-moz-transform: rotate(227deg);/*mozilla*/
	}
.arrow.six{
position:absolute;
top:267px;
left:294px;
-ms-transform: rotate(218deg); /* IE 9 */
 -webkit-transform: rotate(218deg); /* Chrome, Safari, Opera */
 transform: rotate(218deg);
-moz-transform: rotate(218deg);/*mozilla*/
	}
.arrow.seven{
position:absolute;
top:264px;
left:393px;
-ms-transform: rotate(131deg); /* IE 9 */
 -webkit-transform: rotate(131deg); /* Chrome, Safari, Opera */
 transform: rotate(131deg);
-moz-transform: rotate(131deg);/*mozilla*/
	}	
	.arrow.eight{
position:absolute;
top:129px;
left:267px;
-ms-transform: rotate(-53deg); /* IE 9 */
 -webkit-transform: rotate(-53deg); /* Chrome, Safari, Opera */
 transform: rotate(-53deg);
-moz-transform: rotate(-53deg);/*mozilla*/
	}
	.seven img{
	width:128px;
	height:45px;
	}
	.showContent p{
margin-bottom:5px;
}
	.showContent
{
position:absolute;
top: 67px;
left: 56%;
outline: 5px solid black;
box-shadow:0 0 0 10px hsl(0, 0%, 80%),0 0 0 15px hsl(0, 0%, 90%);
width:39%;
height:500px;
font-size:18px;
text-align:center;
padding-top:10px;
}
.buttonBox{
float:right;
position:absolute;
top:600px;
right:90px;
}
.btnGroup{
padding:6px 12px;
border:2px solid black;
float:right;
margin-left:10px;
border-radius:10px;
}
.rotate{
-webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(227deg);}
    to {-webkit-transform: rotate(47deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(227deg);}
    to {-moz-transform: rotate(47deg);}
}

@keyframes rotate {
    from {transform: rotate(227deg);}
    to {transform: rotate(47deg);}
}
.rotateBack{
-webkit-animation-name: rotateBack; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotateBack; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    animation-name: rotateBack; 
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@-webkit-keyframes rotateBack {
    from {-webkit-transform: rotate(47deg);}
    to {-webkit-transform: rotate(227deg);}
}

@-moz-keyframes rotateBack {
    from {-moz-transform: rotate(47deg);}
    to {-moz-transform: rotate(227deg);}
}

@keyframes rotateBack {
    from {transform: rotate(47deg);}
    to {transform: rotate(227deg);}
}

.box-shadow{
border:1px solid rgba(255,0,0,0.7);
box-shadow:0px 1px 31px rgba(255, 225, 0, 1),0px 1px 10px rgba(255, 225, 0, 1),0px 1px 10px rgba(255, 225, 0, 1);
}

p span{
display:block;
}
@media screen and (max-width: 800px)
{
.container{

position:relative;
top:30px;
width:95%;

border:5px solid black; 
outline: 5px solid black;
box-shadow:0 0 0 10px hsl(0, 0%, 80%),0 0 0 15px hsl(0, 0%, 90%);
height:500px;
}

	.showContent p{
margin-bottom:5px;
}
	.showContent {
    position: absolute;
    top: 67px;
    left: 428px;
    outline: 5px solid #000;
    box-shadow: 0px 0px 0px 10px #CCC, 0px 0px 0px 15px #E5E5E5;
    width: 44%;
    height: 500px;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}
.rectangle.one {
    position: absolute;
    top: 40px;
    left: 76px;
}
.rectangle {
    width: 28px;
    height: 61px;
    text-align: center;
    padding-top: 10px;
    border: 1px solid #000;
}
.rectangle.two {
    position: absolute;
    top: 40px;
    left: 172px;
}
.circle.one {
    position: absolute;
    top: 203px;
    left: 16px;
}
.rectangle.three {
    position: absolute;
    top: 320px;
    left: 76px;
}
.rectangle.four {
    position: absolute;
    top: 320px;
    left: 172px;
}
.circle.two {
    position: absolute;
    top: 203px;
    left: 110px;
}
.circle.three {
    position: absolute;
    top: 200px;
    left: 217px;
}
.arrow img {
    height: 45px;
    width: 113px;
}
.arrow.one {
    position: absolute;
    top: 118px;
    left: 10px;
    transform: rotate(109deg);
}
.arrow.two {
    position: absolute;
    top: 131px;
    left: 156px;
    transform: rotate(68deg);
}
.arrow.three {
    position: absolute;
    top: 267px;
    left: 56px;
    transform: rotate(295deg);
}
.arrow.four {
    position: absolute;
    top: 279px;
    left: 10px;
    transform: rotate(249deg);
}
.arrow.five {
    position: absolute;
    top: 132px;
    left: 52px;
    transform: rotate(251deg);
}
.rotate{
-webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(251deg);}
    to {-webkit-transform: rotate(71deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(251deg);}
    to {-moz-transform: rotate(71deg);}
}

@keyframes rotate {
    from {transform: rotate(251deg);}
    to {transform: rotate(71deg);}
}
.rotateBack{
-webkit-animation-name: rotateBack; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotateBack; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    animation-name: rotateBack; 
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@-webkit-keyframes rotateBack {
    from {-webkit-transform: rotate(71deg);}
    to {-webkit-transform: rotate(251deg);}
}

@-moz-keyframes rotateBack {
    from {-moz-transform: rotate(71deg);}
    to {-moz-transform: rotate(251deg);}
}

@keyframes rotateBack {
    from {transform: rotate(71deg);}
    to {transform: rotate(251deg);}
}
.arrow.six {
    position: absolute;
    top: 263px;
    left: 118px;
    transform: rotate(244deg);
}
.arrow.seven {
    position: absolute;
    top: 270px;
    left: 162px;
    transform: rotate(112deg);
}
.arrow.eight {
    position: absolute;
    top: 130px;
    left: 100px;
    transform: rotate(-68deg);
}
}